@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

body {
  font-family: var(--font-sans);
  background-color: #0b141a; /* Dark sleek container bg */
  color: #e9edef;
}

/* Custom scrollbar styling for elite visual layout */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #111b21;
}
::-webkit-scrollbar-thumb {
  background: #374248;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f5d64;
}
